@charset "UTF-8";
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.container {
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
  padding: 0px;
}

.none {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}

/*Обнуление*/
/* Для того чтобы нельзя было выделять что-либо с сайта
-webkit-user-select: none;

-khtml-user-select: none;

-moz-user-select: none;

-ms-user-select: none;

user-select: none; */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  scroll-behavior: smooth;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

input, button, textarea {
  font-family: inherit;
}

button, input[type=submit] {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.nav {
  text-align: center;
  padding-top: 51px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

.gradient {
  background: linear-gradient(90.85deg, #CAECFF 39.76%, #78CFFF 86.12%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__lang {
  display: flex;
  justify-content: center;
  height: 30px;
}

.nav__select {
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #415f70;
  height: 33px;
  width: 60px;
  padding: 5px;
}

.nav__option {
  font-size: 15px;
  color: #FFFFFF;
}

.header {
  padding-top: 87px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 65px;
}

.header__title_gradient {
  background: linear-gradient(90.85deg, #CAECFF 39.76%, #78CFFF 86.12%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.weather {
  line-height: 45px;
  padding-top: 120px;
  padding-bottom: 50px;
}

.weather__row {
  display: flex;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  min-height: 520px;
}

.weather__card {
  position: relative;
  width: 716px;
  padding: 40px 52px 20px 52px;
  background-color: #24353E;
  border-radius: 20px;
}

.row {
  display: flex;
  align-items: center;
  line-height: 2.2em;
}

.weather__image {
  margin: 0px auto;
  width: 100px;
  height: 100px;
}

.card__header {
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-header__img {
  width: 180px;
  height: 180px;
}

.weather__description {
  align-self: self-end;
  text-align: center;
}

.propertie__image {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  box-shadow: -16px 20px 8px 0px rgba(34, 60, 80, 0.2);
}

.image {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.card__properties {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.card__title {
  text-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.card__title_light {
  font-weight: 300;
  font-size: 40px;
}

.card__info {
  font-size: 25px;
  font-weight: 400;
}

.card__info_hint {
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(156, 156, 156);
  opacity: 1;
  font-weight: 400;
}

.weather__select {
  background-color: #24353E;
  border-radius: 20px;
  padding: 50px 60px 0 60px;
}

.select__title {
  font-weight: 700;
  font-size: 32px;
}

.select__field {
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  border-radius: 6px;
  padding: 6px;
}

.select__input {
  flex-grow: 1;
  height: 30px;
  padding: 2px;
}

.select__btn {
  background: 100px;
  color: #fff;
  background-color: #517588;
  border-radius: 5px;
  padding: 2px 5px;
}

.card__observation {
  display: flex;
  justify-content: end;
  padding-bottom: 15px;
}

.card__observation > .card_info {
  font-size: 18px;
}

.content {
  flex-grow: 1;
}

.footer {
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #27343b;
}

.footer__title {
  color: #fff;
  opacity: 0.7;
  padding: 20px 0 20px 0;
}

.content {
  background-image: url("/img/bgc/bgcbody.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1263px) {
  .weather__select {
    border-radius: 20px 20px 0px 0px;
    padding: 50px 35px 0 35px;
    width: 716px;
  }
  .weather__row {
    flex-wrap: wrap;
  }
  .weather__card {
    border-radius: 0px 0px 20px 20px;
  }
  .select__title {
    text-align: center;
  }
}
@media (max-width: 465px) {
  .nav__menu {
    flex-wrap: wrap;
  }
  .nav__lang {
    margin: 0 auto;
  }
  .card__day {
    margin: 0 auto;
  }
  .weather__description {
    padding-top: 20px;
    margin: 0 auto;
  }
  .card__observation {
    justify-content: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .weather__select {
    padding: 50px 0px 0 0px;
  }
}