@media (max-width: 1263px){
    .weather__select {
        border-radius: 20px 20px 0px 0px;
        padding: 50px 35px 0 35px;
        width: 716px;
    }
    .weather__row {
        flex-wrap: wrap;
    }
    .weather__card {
        border-radius: 0px 0px 20px 20px;
    }
    .select__title{
        text-align: center;
    }
}

@media (max-width: 465px) {
    .nav__menu {
        flex-wrap: wrap;
    }
    .nav__lang{
        margin: 0 auto;
    }
    .card__day {
        margin: 0 auto;
    }
    .weather__description {
        padding-top: 20px;
        margin: 0 auto;
    }
    .card__observation{
        justify-content:center;
        margin-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .weather__select {
        padding: 50px 0px 0 0px;
    }
}