.nav {
    text-align: center;
    background: linear-gradient(90.85deg, #1a8bc4 39.76%, #25a9c0 86.12%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    padding-top: 51px;
    font-weight: 600;
font-size: 40px;
line-height: 60px;
}
.nav__menu {
}
.nav__logo {
}